# Boolean Functions

In [2]:
False

False

In [5]:
type(True)

bool

In [34]:
str='Diksha'

In [35]:
str.isalnum()

True

In [36]:
str.endswith('a')

True

In [37]:
str.istitle()  #First letter cap

True

In [38]:
str.isalpha()

True

## Boolean Functions

In [40]:
True or False

True

In [41]:
True and False

False

In [45]:
str1="hello"
str2='heyy'

In [46]:
str1.isalpha() or str2.isnum()

True

In [49]:
str1.isalpha() and str2.isnum()

AttributeError: 'str' object has no attribute 'isnum'


## Lists

A list is data structure that is mutable (we can change an item in list by directly accessing it )

In [52]:
type([])     #empty list

list

In [53]:
lst=list()

In [54]:
lst=['maths','chem',100,200]

In [55]:
lst

['maths', 'chem', 100, 200]

In [56]:
len(lst)

4

In [63]:
lst.append("diksha")
lst

['maths', 'chem', 100, 200, 'diksha', 'diksha']

In [58]:
## Indexing starts with zero
lst[3]

200

In [66]:
lst.append(["john"])  ## it shows nested list and always appends at last  so insert is used

In [65]:
lst[:]

['maths', 'chem', 100, 200, 'diksha', 'diksha', ['john']]

In [60]:
lst[1:]  #from chem to all

['chem', 100, 200, 'diksha']

In [62]:
lst[2:4]  # before 4th element all will be displayed

[100, 200]

## Insert

In [67]:
#lst.insert(index,value)

lst.insert(1,"deepu")

In [68]:
lst

['maths', 'deepu', 'chem', 100, 200, 'diksha', 'diksha', ['john'], ['john']]

## Extend

In [132]:
lst=[1,2,3,4,5]

In [133]:
lst.extend([1,6,7])   ## it doesnt shows nesting
lst

[1, 2, 3, 4, 5, 1, 6, 7]

In [134]:
sum(lst)

29

In [135]:
lst.pop(0)

1

In [136]:
lst.count(1)

1

In [137]:
len(lst)

7

In [138]:
lst.index(1)

4

In [139]:
lst.index(5)

3

In [142]:
lst.index(2,0,4)  # return index of 1st value , start, start,  end index 
# i poped 1

0

In [143]:
min(lst)

1

In [144]:
max(lst)

7

In [145]:
lst*2 # append 2 times

[2, 3, 4, 5, 1, 6, 7, 2, 3, 4, 5, 1, 6, 7]

# Sets

A set is a unordered collection of databtype that is iterable,mutable and has no duplicate elements.
Python set class represents the math notion of set which is based on DS known as hash table

In [146]:
set1=set()

In [147]:
set1

set()

In [152]:
set1={1,2,3,4,2,3,1,}

In [153]:
set1

{1, 2, 3, 4}

In [159]:
set1={"ian","women","child"}
set1                             
# alphabetical order

{'child', 'ian', 'women'}

In [162]:
#indexing is not supported
set1[]

SyntaxError: invalid syntax (<ipython-input-162-483def16c194>, line 2)

In [173]:
set1.add("hulk")

In [174]:
set1

{'child', 'hulk', 'ian', 'women'}

In [176]:
set2={"child","ian","hit"}
set2

{'child', 'hit', 'ian'}

In [177]:
set2.difference(set1)

{'hit'}

In [168]:
set2.difference_update(set1)  # it updates the set2 
set2

{'hit'}

In [178]:
set2.intersection(set1)
set2

{'child', 'hit', 'ian'}

## Dictionaries

A dictionary is collection which is unordered ,changable ,and indexed.curly braces , keys,values

In [2]:
dic={}

In [3]:
type(dic)

dict

In [4]:
dic={"car1":"audi","car2":"BMW"}

In [5]:
dic

{'car1': 'audi', 'car2': 'BMW'}

Indexing no will be key name 
;indexing helps in retrieving the value

In [6]:
dic['car1']

'audi'

In [7]:
for x in dic:   ##access key 
    print (x)

car1
car2

In [8]:
for x in dic.values():  ##access values
    print(x)

audi
BMW

In [10]:
for x in dic.items():
    print (x)

('car1', 'audi')
('car2', 'BMW')

In [11]:
##adding items 
dic['car3']='swift'

In [12]:
dic

{'car1': 'audi', 'car2': 'BMW', 'car3': 'swift'}

In [13]:
dic['car1']="I10" ##overwritten on car 1 index
dic

{'car1': 'I10', 'car2': 'BMW', 'car3': 'swift'}

## Nested Dictionary

In [20]:
audi={"no":"112","no2":"133"}
BMW={"n1":"110","n2":"200"}

In [16]:
dic

{'car1': 'I10', 'car2': 'BMW', 'car3': 'swift'}

In [21]:
print(dic['car2'])

BMW

In [22]:
print(dic['car2']['no'])

TypeError: string indices must be integers